@model IEnumerable<Kurs.Models.ViewCount>
@{
    ViewData["Title"] = "City&&Country";
}



<table class="table table-dark">
    <thead>
    <th scope="col">Назва Країни </th>
    <th scope="col">Тип порту </th>
    <th scope="col">Кількість </th>
    </thead>
    <tbody>

        @foreach (var city in Model)
        {

            <tr>
                <th scope="row">@city.Name </th>
                <th scope="row">@city.typeOfPort  </th>
                <th scope="row">@city.Coun</th>
            </tr>
        }
    </tbody>
</table>

<input type="button" value="Добавити країну" onclick="@("window.location.href='" + @Url.Action("AddCountry", "Home") + "'");" />
<input type="button" value="Добавити місто" onclick="@("window.location.href='" + @Url.Action("AddCity", "Home") + "'");" />