@model Data.Models.Weather


    

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>


        <style>
            .modalF {
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                z-index: 1; /* Sit on top */
                padding-top: 100px; /* Location of the box */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            }

            /* Modal Content */
            .modal-contentF {
                background-color: #fefefe;
                margin: auto;
                padding: 20px;
                border: 1px solid #888;
                width: 60%;
            }

            /* The Close Button */
            .close {
                color: #aaaaaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }

                .close:hover,
                .close:focus {
                    color: #000;
                    text-decoration: none;
                    cursor: pointer;
                }
        </style>
    

@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    foreach (var Port in ViewBag.Port)
    {
        listItems.Add(new SelectListItem
        {
            Text = Port.Name,
            Value = Port.PortId.ToString()
        }
        );
    }
}
@using (Html.BeginForm("Weather", "Port", FormMethod.Post))
{
    <div class="col">
        <label>Порт</label>
        @Html.DropDownList("PortId",listItems, "-- Select Status --", new
   {
       @id = "PortId",
       @class = "form-control"
   })


    </div>

    <div class="col ">
     
        <input name="Date" type="text" placeholder="Дата" class="datepicker"/>
    </div>


    <div style="margin:20px 0px ">
        <button type="submit" class=" btn btn-primary btn-block">Filter</button>
    </div>
}
<table class="table table-dark">
    <thead>
    <th scope="col">Назва порту </th>
    <th scope="col">Температура </th>
    <th scope="col">Висота хвилі</th>
    <th scope="col">Швидкість вітру</th>
    <th scope="col">Дата</th>

    </thead>
    <tbody>

        @foreach (var weather in ViewBag.Weather)
        {

        <tr>
            <th scope="row">@weather.Port.Name </th>
            <th scope="row">@weather.Temperature </th>
            <th scope="row">@weather.HeightWave </th>
            <th scope="row">@weather.WindSpeed </th>
            <th scope="row">@weather.Date.ToString("MMMM/dd/yyyy") </th>
            <th scope="row"><a><input type="button" onclick="Open(this)" id="@weather.WeatherId" value="Змінити" /> </a></th>
            <th scope="row"><a asp-area="" asp-controller="Port" asp-action="DeleteWeather" asp-route-weatherID="@weather.WeatherId"><button type="button" class="btn btn-secondary btn-sm" style="margin:0,20px; ">Delete</button></a></th>


        </tr>

        }
    </tbody>
</table>

<input type="button" onclick="Open()" value="Добавити погоду" id="myBtnF" />
<div id="myModal" class="modalF ">
    <!-- Modal content -->
    <div class="modal-contentF">
        @using (Html.BeginForm("AddWeather", "Port", FormMethod.Post))
        {
    <div class="container">
    <div class="row offset-11" >
        <span id="closeid"style="margin-left: 107%;" onclick="close()" class="close">&times;</span>
    </div>
    <div class="col">
        <label>Порт</label>
        @Html.DropDownListFor(m => m.PortId, listItems, "-- Select Status --", new
        {
            @id = "PortId",
            @class = "form-control"
        })
    </div>

    <div class="col ">
        <label>Дата</label>
        <input name="Date" type="text"id = "Date" placeholder="Дата" class="datepicker" />
    </div>
    <div class="col ">
        <label>Висота хвилі</label>
        @Html.TextBoxFor(m => m.HeightWave, new { @id = "HeightWave", @class = "form-control", @type = "number" })
    </div>
    <div class="col ">
        <label>Температура</label>
        @Html.TextBoxFor(m => m.Temperature, new { @id = "Temperature", @class = "form-control", @type = "number" })
    </div>
    <div class="col ">
        <label>Швидкість вітра</label>
        @Html.TextBoxFor(m => m.WindSpeed, new { @id = "WindSpeed", @class = "form-control", @type = "number" })
    </div>
    <div>
        <input name="WeatherId" id="WeatherId" hidden />
    </div>
    <div style="margin:20px 0px ">
        <button type="submit"  class=" btn btn-primary btn-block">Добавити</button>
    </div>
    </div>
        }
    </div>
    <script>
    // Get the modal

    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementById("closeid");
    var DataWether = [];

        @{
            foreach(var wether in ViewBag.Weather)
            {
              int i = 0;
              <text>DataWether[@i] = "@wether";</text>
              i++;
            }
          }
    // When the user clicks the button, open the modal\
       

        // Or with jQuery

       
        $(document).ready(function () {
            $('.datepicker').datepicker();
        })
    function Open(weather) {
        console.log(weather);

        
        if (weather != null) {
            modal.style.display = "block";
            var UpdateNeWeather = weather.id;
            var weatherId = weather.id;


            var DataWeaather = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["Weather"]));
            console.log(DataWeaather);
            var indexUp;
            $.each(DataWeaather, function (index, value) {


                if (value.WeatherId == UpdateNeWeather)
                {
                    indexUp = value;
                    $("#Name").val(value.Name);
                    $("#Date").val(value.Date);
                    $("#HeightWave").val(value.HeightWave);
                    $("#Temperature").val(value.Temperature);
                    $("#WindSpeed").val(value.WindSpeed);
                    $("#WeatherId").val(value.WeatherId);
                    $("#PortId").val(value.Port.PortId);

                }
                console.log('Индекс: ' + index + '; Значение: ' + value.PortId);

            });
          

        }
        else {
            $("#Name").val(null);
            $("#Date").val(null);
            $("#HeightWave").val(null);
            $("#Temperature").val(null);
            $("#WindSpeed").val(null);
            $("#WeatherId").val(null);
            debugger;
            modal.style.display = "block";
        }

    };
        // When the user clicks on <span> (x), close the modal
        function close()
        {
            modal.style.display = "none";
        }
    span.onclick = function () {

        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
        }

    </script>

