@model Data.Models.Visits
@{
    ViewData["Title"] = "AddVisit";
}

@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    foreach (var Ship in ViewBag.Ship)
    {
        listItems.Add(new SelectListItem
        {
            Text = Ship.Name,
            Value = Ship.ShipId.ToString()
        });
    }
}

@using (Html.BeginForm("AddVisit", "Ship", FormMethod.Post))

{<div class="col ">
        <label> Назва корабля </label>
        @Html.DropDownListFor(m => m.ShipId, listItems, "-- Select Status --", new
        {
            @class = "form-control"
        })
    </div>
 <div class="col">
     <label> Дата прибуття </label>
     
         @Html.EditorFor(m => m.DateArrival,
         new { htmlAttributes = new { @class = "form-control " } })
  
     @*//<input type="text" name="TeamName" placeholder="Team NAme" class="form-control" />*@
 </div>

    <div class="col">
        <label> Дата відбуття </label>
        @Html.EditorFor(m => m.DateDeparture, new { @class = "form-control")
        @*<input type="number" class="form-control" name="MinNumberWorkers">*@
    </div>

    <div class="col ">
        <label> Номер причалу </label>
        @Html.TextBoxFor(m => m.NumberPrich, new { @class = "form-control", @type = "number" })
    </div>
    <div class="col ">
        <label> Ціль приїзду </label>
        @Html.TextBoxFor(m => m.Purpose, new { @class = "form-control" })
    </div>
   
     
    <div style="margin:20px 0px ">
        <button type="submit" class=" btn btn-primary btn-block">Добавити</button>
    </div>

}