@model Kurs.Models.SortPrichal;
@{
    ViewData["Title"] = "Prichal";
}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>


@using (Html.BeginForm("Prichal", "Ship", FormMethod.Post))
{
    <div class="col">
        <label> водотонажність </label>
        @Html.TextBoxFor(m => m.ShipWater, new { @id = "Expirions", @class = "form-control", @type = "number" })

    </div>

    <div class="col ">

        <input name="Data" type="text" placeholder="Дата" class="datepicker" />
    </div>


    <div style="margin:20px 0px ">
        <button type="submit" class=" btn btn-primary btn-block">Filter</button>
    </div>
}

<table class="table  table-striped">
    <thead>
    <th scope="col">Назва порту </th>
    <th scope="col">Назва судна </th>
    <th scope="col">Номер причалу</th>
    <th scope="col">Водотонажність</th>
    <th scope="col">Дата</th>
    </thead>
    <tbody>

        @foreach (var visit in ViewBag.Data)
        {

            <tr>
                <th scope="row">@visit.NamePort</th>
                <th scope="row">@visit.NameShip </th>
                <th scope="row">@visit.NumberPrich </th>
                <th scope="row">@visit.WaterTon </th>
                <th scope="row">@visit.Date.ToString("MMMM/dd/yyyy") </th>
            </tr>

        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('.datepicker').datepicker();
    })
</script>


