@model Kurs.Models.ShipSort
@{
    ViewData["Title"] = "Ships";
}

@using (Html.BeginForm("Ships", "Ship", FormMethod.Post))
{

    <div class="col">
        <label>Менше довжини</label>
        @Html.TextBoxFor(m => m.Witch, new { @class = "form-control", @type = "number" })
        @*<input type="number" class="form-control" name="MinNumberWorkers">*@
    </div>


    <div class="col ">
        <label> Менше ширини</label>
        @Html.TextBoxFor(m => m.Lenght, new { @class = "form-control", @type = "number" })
    </div>


    <div style="margin:20px 0px ">
        <button type="submit" class=" btn btn-primary btn-block">Filter</button>
    </div>
}

<table class="table table-dark">
    <thead>
    <th scope="col">Назва корабля </th>
    <th scope="col">Тип корабля </th>
    <th scope="col">Довжина корабля</th>
    <th scope="col">Ширина корабля</th>
    <th scope="col">Ім'я приписки корабля</th>
    <th scope="col">Колір</th>
    </thead>
    <tbody>

        @foreach (var ship in ViewBag.Ships)
        {

            <tr>
                <th scope="row">@ship.Name </th>
                <th scope="row">@ship.TypeShip </th>
                <th scope="row">@ship.Lenght </th>
                <th scope="row">@ship.Witch </th>
                <th scope="row">@ship.Port.Name </th>
                <th scope="row">@ship.color </th>
            </tr>

        }
    </tbody>
</table>

<input type="button" value="Добавити корабль" onclick="@("window.location.href='" + @Url.Action("AddShip", "Ship") + "'");" />

