@model Data.Models.Visits
@{
    ViewData["Title"] = "Visits";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    foreach (var Ship in ViewBag.Ship)
    {
        listItems.Add(new SelectListItem
        {
            Text = Ship.Name,
            Value = Ship.ShipId.ToString()
        });
    }
}
@{
    List<SelectListItem> listItemsP = new List<SelectListItem>();
    foreach (var Port in ViewBag.Port)
    {
        listItemsP.Add(new SelectListItem
        {
            Text = Port.Name,
            Value = Port.PortId.ToString()
        });
    }
}
<style>
    .modalF {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-contentF {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 60%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>
<table class="table table-dark">
    <thead>
    <th scope="col">Назва порту>
    <th scope="col">Дата прибуття </th>
    <th scope="col">Дата від'їзду</th>
    <th scope="col">Номер причалу</th>
    <th scope="col">Ціль</th>
    <th scope="col">Назва кораблю</th>
    </thead>
    <tbody>

        @foreach (var visit in ViewBag.Visits)
        {

            <tr>
                <th scope="col">@visit.Port.Name  </th>
                <th scope="col">@visit.DateArrival</th>
                <th scope="col">@visit.DateDeparture </th>
                <th scope="col">@visit.NumberPrich </th>
                <th scope="col">@visit.Purpose </th>
                <th scope="col">@visit.Ship.Name </th>
                <th scope="row"><a><input type="button" onclick="Open(this)" id="@visit.VisitsId" value="Змінити" /> </a></th>

            </tr>

        }
    </tbody>
</table>

<input type="button" onclick="Open()" value="Добавити відвідування" id="myBtnF" />
<div id="myModal" class="modalF ">
    <!-- Modal content -->
    <div class="modal-contentF">
        @using (Html.BeginForm("AddVisit", "Ship", FormMethod.Post))
        {
            <div class="container">
                <div class="row offset-11">
                    <span id="closeid" style="margin-left: 107%;" onclick="close()" class="close">&times;</span>
                </div>
                <div class="col ">
                    <label> Назва порта </label>
                    @Html.DropDownListFor(m => m.PortId, listItemsP, "-- Select Status --", new
               {
                        @id = "PortId",
                        @class = "form-control"
               })
                </div>
                <div class="col ">
                    <label> Назва корабля </label>
                    @Html.DropDownListFor(m => m.ShipId, listItems, "-- Select Status --", new
               {
                         @id = "ShipId",
                        @class = "form-control"
               })
                </div>
                <div class="col">
                    <label> Дата прибуття </label>
                    <input name="DateArrival"  class="datepicker" type="text" id="DateArrival" placeholder="Дата прибуття"/>

                    @*//<input type="text" name="TeamName" placeholder="Team NAme" class="form-control" />*@
                </div>

                <div class="col">
                    <label> Дата відбуття </label>
                    <input name="DateDeparture" class="datepicker" type="text" id="DateDeparture" placeholder="Дата відбутя" />

                    @*<input type="number" class="form-control" name="MinNumberWorkers">*@
                </div>

                <div class="col ">
                    <label> Номер причалу </label>
                    @Html.TextBoxFor(m => m.NumberPrich, new { @id = "NumberPrich", @class = "form-control", @type = "number" })
                </div>
                <div class="col ">
                    <label> Ціль приїзду </label>
                    @Html.TextBoxFor(m => m.Purpose, new { @id = "Purpose", @class = "form-control" })
                </div>
                <div>
                    <input name="VisitsId" id="VisitsId" hidden />
                </div>

                <div style="margin:20px 0px ">
                    <button type="submit" class=" btn btn-primary btn-block">Добавити</button>
                </div>
            </div>
        }
    </div>
    <script>
    // Get the modal

    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementById("closeid");
      var Datavisitss = [];

        @{
            foreach(var visits in ViewBag.Visits)
            {
              int i = 0;
              <text>Datavisitss[@i] = "@visits";</text>
              i++;
            }
          }
    // When the user clicks the button, open the modal\


        // Or with jQuery


        $(document).ready(function () {
            $('.datepicker').datepicker();
        })
        function Open(visits) {
            console.log(visits);


            if (visits != null) {
                modal.style.display = "block";
                var UpdateNeVisits = visits.id;
                var weatherId = visits.id;


                var Datavisits = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["Visits"]));
                console.log(Datavisits);
            var indexUp;
                $.each(Datavisits, function (index, value) {


                    if (value.VisitsId == UpdateNeVisits)
                {
                    indexUp = value;
                    $("#VisitsId").val(value.VisitsId);
                    $("#PortId").val(value.Port.PortId);
                    $("#ShipId").val(value.ShipId);
                    $("#DateArrival").val(value.DateArrival);
                    $("#DateDeparture").val(value.DateDeparture);
                    $("#NumberPrich").val(value.NumberPrich);
                    $("#Purpose").val(value.Purpose);

                }
                console.log('Индекс: ' + index + '; Значение: ' + value.PortId);

            });


        }
            else {
                $("#VisitsId").val(null);
                $("#PortId").val(null);
                $("#ShipId").val(null);
                $("#DateArrival").val(null)
                $("#DateDeparture").val(null);
                $("#NumberPrich").val(null);
                $("#Purpose").val(null);

            debugger;
            modal.style.display = "block";
        }

    };
        // When the user clicks on <span> (x), close the modal
        function close()
        {
            modal.style.display = "none";
        }
    span.onclick = function () {

        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
        }

    </script>

